<section class="contact">
    <div class="contact__content">
        <div class="contact__content--titles">
            <h3>Ainda está com dúvida?</h3>
            <h2>Entre em contato com a gente agora mesmo!</h2>
        </div>
    
        <p class="contact__content--text">Para garantir que você tenha certeza total na sua decisão, temos um suporte exclusivo para tirar todas as suas possíveis dúvidas restantes. Entre em contato agora mesmo!</p>
    
        <div class="contact__content--networks">
            <a href="" target="_blank">
                <ng-icon name="matEmail" />
                <span>emailmarcos&commat;gmail.com</span>
            </a>
    
            <a href="" target="_blank">
                <ng-icon name="matWhatsapp" />
                <span>(21) 96578-2815</span>
            </a>
        </div>
    </div>
</section>