<section class="bonus">
    <div class="bonus__header">
        <h2>BÔNUS EXCLUSIVO: PLANO “30 DIAS PARA O EMPREGO”</h2>
        <h3>Se você aplicar este plano, suas chances de conseguir um emprego em até 30 dias vão aumentar drasticamente!</h3>
    </div>

    <div class="bonus__blocks">
        <div class="bonus__blocks--left">
            <div class="bonus__blocks--left__day">
                <h4>Semana 1</h4>
                <ul>
                    <li><div><ng-icon name="matAdd" /></div>Cursos gratuitos</li>
                    <li><div><ng-icon name="matAdd" /></div>Currículo otimizado</li>
                    <li><div><ng-icon name="matAdd" /></div>LinkedIn profissional</li>
                </ul>
            </div>
            <div class="bonus__blocks--left__day">
                <h4>Semana 3</h4>
                <ul>
                    <li><div><ng-icon name="matAdd" /></div>Inscrição massiva em vagas</li>
                    <li><div><ng-icon name="matAdd" /></div>Simulação de entrevistas</li>
                </ul>
            </div>
        </div>

        <div class="bonus__blocks--line"></div>

        <div class="bonus__blocks--right">
            <div class="bonus__blocks--right__day">
                <h4>Semana 2</h4>
                <ul>
                    <li><div><ng-icon name="matAdd" /></div>Networking</li>
                    <li><div><ng-icon name="matAdd" /></div>Candidaturas estratégicas</li>
                    <li><div><ng-icon name="matAdd" /></div>Personalização de currículo<li>                   
                </ul>
            </div>
            <div class="bonus__blocks--right__day">
                <h4>Semana 4</h4>
                <ul>
                    <li><div><ng-icon name="matAdd" /></div>Contato com recrutadores</li>
                    <li><div><ng-icon name="matAdd" /></div>Preparação final</li>
                    <li><div><ng-icon name="matAdd" /></div>Entrevista real</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bonus__footer">
        <p>E o melhor: Com esse plano, você enviará currículo para 30 vagas por dia.</p>
        <p>Com um currículo impecável e esse volume de candidaturas, será impossível não conseguir uma vaga!</p>
    </div>
</section>