<section class="guarantee">
    <div class="guarantee__img"></div>
    <div class="guarantee__content">
        <h2 class="guarantee__content--title">Garantia Incondicional</h2>
        <p class="guarantee__content--text">Oferecemos garantia de 7 dias para que você experimente o produto com tranquilidade e sem pressão. Se não ficar satisfeito, devolvemos 100% do valor investido, sem perguntas difíceis e sem burocracia</p>
        <a href="https://pay.cakto.com.br/z5yutut" target="_blank" class="guarantee__content--button">QUERO CONSEGUIR UM EMPREGO AGORA</a>
    </div>
</section>