@use "../../../assets/styles/variables" as *;

.audience {
    display: grid;
    grid-template-rows: repeat(2, auto);
    // background-color: $clr-light-a0;
    // color: $clr-dark-a0;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 1.5rem;

        &--title {
            font-size: 1.5rem;
            text-align: center;
        }

        .positive-title {
            color: #0a9c00;
        }

        .negative-title {
            color: #fe0000;
        }

        &--list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            
            li {
                display: flex;
                align-items: center;
                gap: .5rem;

                div ng-icon {
                    font-size: 1.3rem;
                    display: flex;
                    align-items: center;
                }

                .positive {
                    color: #0a9c00;
                }

                .negative {
                    color: #fe0000;
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .audience {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80vh;
    }
}

@media(min-width: 1440px) {
    .audience {
        max-width: 1440px;
        justify-self: center;
    }
}