<section class="audience">
    <div class="audience__content">
        <h2 class="audience__content--title positive-title">PARA QUEM É ESTE EBOOK?</h2>
    
        <ul class="audience__content--list">
            @for (item of targetAudience; track $index) {
                <li class="audience__content--list__item">
                    <div class="positive"><ng-icon name="check" /></div>
                    {{ item }}
                </li>
            }
        </ul>
        <span>Se identificou com alguma dessas situações? Então este guia é para você!</span>
    </div>

    <div class="audience__content">
        <h2 class="audience__content--title negative-title">ISSO AQUI NÃO É PRA VOCÊ SE...</h2>
        <ul class="audience__content--list">
            @for (item of targetAudienceNot; track $index) {
                <li class="audience__content--list__item">
                    <div class="negative"><ng-icon name="close"/></div>
                    {{ item }}
                </li>
            }
        </ul>
    </div>
</section>