<section class="banner">
    <h1 class="banner__title">O GUIA PRÁTICO PARA SAIR DO DESEMPREGO RÁPIDO</h1>

    <div class="banner__content">
        <div class="banner__content--text">
            <p>As pessoas dizem que arrumar um emprego está difícil...<br> Mas já parou para pensar em quantos currículos online você entregou hoje?</p>
            <p>Se sua resposta for “poucos” ou “nenhum”, então aqui está o motivo pelo qual você ainda não conseguiu um emprego.</p>
            <p>A verdade é que quem age certo, consegue uma vaga muito mais rápido!</p>
            <p>E agora você tem um plano completo para isso!</p>
        </div>
    
        <div class="banner__content--img">
            <!-- <div></div> -->
            <img src="images/banner.jpeg" alt="imagem do banner">
            <a href="#price" class="banner__content--img__btn animation-button-02">QUERO CONSEGUIR UM EMPREGO AGORA!</a>
        </div>
    </div>
</section>