<section class="price" id="price">
    <div class="price__card">
        <div class="price__card--price">
            <h3>TUDO ISSO POR APENAS</h3>
            <strong>R$ 19,90!</strong>
        </div>
        <hr>
        <div class="price__card--text">
            <strong>Sim, apenas R$ 19,90! Um valor simbólico para um método que pode mudar sua vida!</strong>
            <strong>Clique no botão abaixo e garanta o seu eBook agora!</strong>
        </div>
        <a href="https://pay.cakto.com.br/z5yutut" target="_blank" class="animation-button-02">QUERO CONSEGUIR UM EMPREGO AGORA!</a>
    </div>
</section>