$font-montserrat: "Montserrat", sans-serif;
$font-poppins: "Poppins", sans-serif;

$clr-dark-a0: #000;
$clr-light-a0: #FFF;

$clr-primary-a0: #0dc5dc;
$clr-primary-a10: #4bcce0;
$clr-primary-a20: #6bd2e4;
$clr-primary-a30: #85d9e8;
$clr-primary-a40: #9cdfec;
$clr-primary-a50: #b1e6ef;

$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;

$clr-tonal-a0: #192123;
$clr-tonal-a10: #2e3638;
$clr-tonal-a20: #454c4d;
$clr-tonal-a30: #5d6364;
$clr-tonal-a40: #767b7c;
$clr-tonal-a50: #8f9495;